// @media sizes

	@phone:												~"screen and (max-width: 767px)";
	@ipadL:												~"screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)";
	@ipadP:												~"screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)";
	@desktop:											~"screen and (min-width: 768px)";



// global layout vars

	@max-flash-alerts-width:							1020px;

	@max-content-body-width:							940px;














// book details

@color-background-shelf-title-and-book-name-top-border:		#B8AE9C;







// material colors

@header-colo-bg-main:									#37474f;


@newJotBoxBGcolor:									#fff8e1; // material amber









// old. verify usage

// sprite image size

	@spriteImageWidth:									150px;
	@spriteImageHeight:									35px;


// base settings

	// @font-families:										'Open sans',sans-serif;
	@font-families:										'Lato', Helvetica, sans-serif;

	@baseFontSize:										.95em;
	@baseLineHeight:									1.0;


// base layout
	



// element specific colors

	// @newJotBoxBGcolor:									#eee; // fiverr
	// @newJotBoxBGcolor:									#D4DFD4;
	// @newJotBoxBGcolor:									#E5ECE5; // green
	// @newJotBoxBGcolor:									#F4F8EA; // yellow


	





// base colors

	@baseTextColor:										#333;
	@baseSelectionBG:									#b3d4fc;
	@baseSelectionColor:								#fff;

	@baseLinkColor:										#00e;
	@baseLinkColorVisited:								#551a8b;
	@baseLinkColorHover:								#06e;
	

// Color Scheme

	// @bgColor: 											#f3f3f3;
	// @bgColor: 											#f6f6f6;
	// @bgColor: 											#fff;
	// @bgColor:											#e9eaed; // fb grey
	// @bgColor:											darken(#e9eaed, 6); // fb grey (dark)
	// @bgColor:											#f7f7f7; // fiverr grey
	@bgColor:											#eceff1; // material blue-grey (light)

	// Grays
	@white:             								#fff;
	@grayLighter:       								#ccc;
	@grayLight:         								#777;
	@gray:              								#555;
	@grayDark:          								#333;
	@black:            									#000;
	@darkGray:											#9197a3; // fb gray text on gray bg

	// Accent Colors
	// @blue:              								#08b5fb;  // original from preboot
	@blue:              								#06e;
	@green:             								#46a546;
	@red:               								#9d261d;
	@yellow:            								#ffc40d;
	@orange:            								#f89406;
	@pink:              								#c3325f;
	// @purple:            								#7a43b6;  // original from preboot
	@purple:            								#551a8b;

	// element specific

		// header

			@headerBgColor:								#222;

	@plus-green:										#8DCB9C;
	@minus-red:											#D68580;

	@blue-link:											#11639d;
	// @purple-link:									#551A8B;
	@purple-link:										#3a1a66;

	@yellow-link:										darken(saturate(@yellow,10),20);
	@green-link:										darken(#639439,3);
	@red-link:											darken(@minus-red,20);
	@orange-link:										#D57626;
	@grey-link:											#666;

	@submitButtonTopGradColor:							#007EBD;
	@submitButtonBottomGradColor:						darken(saturate(#007EBD,10),8);

	@redButtonTopGradColor:								darken(@minus-red,10);
	@redButtonBottomGradColor:							darken(@minus-red,20);

	@yellowButtonTopGradColor:							#FFF1C5;
	@yellowButtonBottomGradColor:						#FFD85F;
	@yellowButtonBorderColor:							#FDBF00;
	@yellowButtonMidColor:								#FFD85F;

	@orangeButtonTopGradColor:							#FFF1C5;
	@orangeButtonBottomGradColor:						#FFD85F;
	@orangeButtonBorderColor:							#FDBF00;
	@orangeButtonMidColor:								#FFD85F;


// New Color Scheme

	@blue-link1:										#1A1F2B;
	@blue-link2:										#30395C;
	@blue-link3:										#4A6491;
	@blue-link4:										#85A5CC;




// Color Variables

	@blue-link:											#0066aa;
	@blue-link-visited:									darken(saturate(@blue-link, 10),10);
	@blue-link-hover:									#0099ff;

