
// global.less


// base settings

	html, body, button, input, select, textarea { font-family: @font-families; } //  color: @baseTextColor;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.h1,
	.h2,
	.h3,
	.h4,
	.h5,
	.h6 { font-family: @font-families; }

	body {
	  color: @baseTextColor;
	  background-color: @bgColor;
	  // padding-top: 51px;
	}

	// body { font-size: @baseFontSize; line-height: @baseLineHeight; }

	// ::-moz-selection { background: @baseSelectionBG; /*color: @baseSelectionColor;*/ text-shadow: none; }
	// ::selection { background: @baseSelectionBG; /*color: @baseSelectionColor;*/ text-shadow: none; }

	// a { color: @blue-link; text-decoration: none; }
	// a:visited { color: @blue-link-visited; }
	// a:hover { color: @blue-link-hover; text-decoration: underline; }

	// h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; color: #555; }

	// p { margin: 0; padding: 0; }


// layout styling

.content-body-wrap {
	max-width: @max-content-body-width;
	// margin: 18px auto;
	margin: 0 auto;
	padding-left: 0px;
	padding-right: 0px;
}

.no-border {
	border: none;
}

.no-border-left {
	border-left: none !important;
}

.text-centered {
	text-align: center;
}

.margin-top-10 {
	margin-top: 10px;
}

.margin-left-right {
	margin-left: 2px;
	margin-right: 2px;
}

.margin-bottom {
	margin-bottom: 10px;
}


// corner styling

.corner-rad-all {
	.border-radius(3px);
}

.corner-rad-top {
	.border-radiuses(3px, 0, 0, 3px);
}

.corner-rad-bottom {
	.border-radiuses(0, 3px, 3px, 0);
}




.table-no-top-border {

	&.table thead>tr>th {
		border-top: none;
	}
}


// tables for layout

.cell-container {
	display: table;
	// height: 100%;

	&.full-width {
		width: 100%;
	}

	.table-row {
		display: table-row;
	}

	.cell {
		display: table-cell;
		height: 100%;
		vertical-align: middle;

		&.top {
			vertical-align: top;
		}

		&.full-width {
			width: 100%;
		}
	}
}


.page-padding {
	margin-right: 8px !important;
    margin-left: 8px !important;
}





// position classes

.top-minus-1 {
	position: relative;
	top: -1px;
}






// button styling

.remove-jot-attachment {
	border-left: 0;
	.border-radius(0);
}

// .btn.sidebar-toggle {
// 	margin-right: 3px;
// }



.a-expander {
// http://stackoverflow.com/a/3494108
	position:absolute; 
	width:100%;
	height:100%;
	top:0;
	left: 0;

	/* edit: added z-index */
	z-index: 1;

	/* edit: fixes overlap error in IE7/8, 
	make sure you have an empty gif */
	background-image: url('empty.gif');
}









// header styling

	// navbar styling

		.navbar {
			@shadow: 0 2px 4px 0 rgba(0,0,0,.15);
			.box-shadow(@shadow);
		}

		// logo positioning

		.navbar > .container .navbar-brand {
			margin-left: 8px;
			margin-top: 13px;
		}


		.container > .navbar-header, .container > .navbar-collapse {
			margin-left: 0;
		}

		a.navlink, a:visited.navlink, a:hover.navlink {
			color: #FF6262;
		}

	// subHeader styling

		.subHeader-container {
			background-color: #f5f5f5;
			border-bottom: 1px #ccc solid;
			@shadow: 0 0 3px 1px rgba(0,0,0,0.15);
			.box-shadow(@shadow);

			.subHeader-wrap {
				padding-bottom: 6px;
				// height: 52px;
			}

		}


// subHeader Styling

	.subHeader-wrap {
		max-width: @max-content-body-width;
		margin: 0 auto;

		span.subHeader-dropdown-button-type-title {
			font-size: 9px;
			line-height: 14px;
			// font-weight: 700;
			text-transform: uppercase;
			color: #888;
		}

		span.subHeader-dropdown-button-title {
			margin: 0 1px;
		}

		.clearfix();

		// display: inline-block;

		.shelf-and-book-dropdown-buttons {
			//float: left;
		}

		a.up-level-button {
			// width: 20px;
			top: 1px;
			color: #4A4F80;
			padding: 6px;
			font-size: 13px;
			line-height: 14px;
			background-color: #fff;
			border: 1px #b2b2b2 solid;
			border-radius: 3px;
			@shadow: 0 2px 3px rgba(0,0,0,0.1);
			.box-shadow(@shadow);
		}

		a.dropdown-button {
			padding: 9px 9px 9px 8px;
			font-size: 13px;
			line-height: 14px;
			// font-weight: 700;
			// color: #00668c;
			color: #4A4F80;
			// width: 145px;
			// min-width: 178px;
			//width: 50%;
			background-color: #fff;
			border: 1px #b2b2b2 solid;
			border-radius: 3px;
			@shadow: 0 2px 3px rgba(0,0,0,0.1);
			.box-shadow(@shadow);
		}

		li.dropdown.open {
			
			a.dropdown-button {
				// border-color: darken(#b2b2b2, 30);
				.border-radiuses(3px, 0, 0, 3px);
				@shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
				.box-shadow(@shadow);
				// background-color: #DFDEC8;
				background-color: #E0E0DC;
				border-color: darken(#E0E0DC, 40);
				// font-weight: 700;

				span.subHeader-dropdown-button-type-title {
					color: darken(#888888, 20);

				}
			}
		}

		.dropdown-menu {
		    overflow-y: auto;

		    @media @desktop {
		    	max-height: 600px;
		    }

		    @media @phone {
		    	max-height: 425px;
		    }
		}

		ul.dropdown-menu {
			min-width: 100%;
			// border-color: darken(#b2b2b2, 30);
			border-color: darken(#E0E0DC, 40);
			.border-radiuses(0, 3px, 3px, 0);
			margin-top: -1px;
			@shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
			.box-shadow(@shadow);
			padding: 0;
		}

		ul.dropdown-menu > li {
			white-space: nowrap;
		}

		ul.dropdown-menu > li > a {
			padding: 9px 26px 9px 10px;
			border-bottom: 1px solid #f4f4f4;

			&.divider-line {
				border-color: #e5e5e5;
			}

			&.action-header {
				padding: 4px 26px 4px 10px;
			}

			span.subHeader-dropdown-menuitem-action-title {
				font-size: 12px;
				color: #666;
			}

			span.subHeader-dropdown-menuitem-book-title {
				font-weight: 700;
				color: #444;
			}

			span.subHeader-dropdown-menuitem-sub-text {
				display: block;
				margin-left: 6px;
				font-size: 11px;
				color: #666;
			}
		}

		.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
			color: #444;
			text-decoration: none;
			background-color: #f1f1f1;
		}

		// ul.dropdown-menu .divider {
		// 	margin: 0;
		// }


		.nav.sub-header>li {
			// float: left;
			display: inline-block;
			padding-top: 6px;
			//margin-right: 4px;
			width: 100%;

			@media @desktop {
				width: 49.82%;
			}

			&:first-child {
				padding-right: 0;

				@media @desktop {
					padding-right: 2px;
				}
			}
		}
	}





// sidebar styling

	#sidebar-wrap {
		// background-color: darken(#fdfcfb,1);
		background-color: lighten(#f9f9f9,1);
		border-right: 1px solid #e0dbda;
		display: none;

		@media @desktop {
			display: block;
		}
	}

	.sidebar-toggle {

		@media @desktop {
			display: none;
		}
	}

	// make sidebar height 100%
	html,body, .container, .row, #sidebar-wrap, .jPanelMenu-panel {
		height:100%;
	}

	#jPanelMenu-menu {
		overflow-y: auto !important;
	// 	background-color: darken(#fdfcfb,1);
	// 	border-right: 1px solid #e0dbda;
	}


// flash message area specific

	.flash-message-container {
		// max-width: @max-flash-alerts-width;
		// margin: 0 auto 12px;
	}





// content area specific


	// content area title bar
	.content-area-title-bar-wrap {
		// background-color: darken(#fdfcfb,1);
		background-color: lighten(#f9f9f9,1);
		padding: 10px 8px;
		border-bottom: 1px solid #e0dbda;
		// font-size: 18px;


		.btn {
			margin-top: -4px;
			// margin-right: 4px
		}
	}

	// content area content wrap
	.content-area-content-wrap {
		margin-top: 6px;

		&.row {
			
		}

		.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
			// restore bootstrap defaults
			padding-right: 15px;
			padding-left: 15px;
		}
	}


// titles / headers

.named-title-container {
	font-size: 18px;
	text-align: center;
	color: #515158;

	a, a:visited, a:hover {
		color: #4279A7;
	}
}



// table styling

table.vert-centered {

	td {
		vertical-align: middle !important;
	}

	td.vert-top {
		vertical-align: top !important;
	}
}

th.pin-heading {
	width: 28px;
	text-align: center;
}

th.edit-heading {
	width: 28px;
	text-align: center;
}


.listing-edit-button {
	padding: 2px 5px;
	background-color: transparent;
	border-color: transparent;
	color: rgba(51, 51, 51, 0.25);
}

input[type="checkbox"].listing-pin-checkbox {
	margin-left: 6px;
	margin-bottom: 8px;
}



// jot entry box

.jot-entry-box-container {
	// margin-top: 50px;
	margin: 10px 9px 0;

	// max-width: 90%;

	background-color: #fff;
	border: 1px solid;
	// border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	border-color: #e5e6e9 #dfe0e4 lighten(#d0d1d5, 2);
	// border-color: darken(@bgColor, 6) darken(@bgColor, 11) darken(@bgColor, 15);
	.border-radius(3px);


	.jot-entry-box-header-wrap {
		padding: 12px 12px 0;
	}

	.jot-entry-box-body-wrap {
		// background-color: #fff;
		padding: 0 12px 12px;

		// @bordercolor: lighten(#e0dbda, 2);
		// @bordercolor: #d8d8d8;
		// border-top: 1px solid @bordercolor;
		// border-bottom: 1px solid @bordercolor;

		// @shadow: 1px 0 0 rgba(0,0,0,.07);
		// .box-shadow(@shadow);

		// .border-radius(2px);
	}

	.jot-entry-box-attachment-area-container {
		background-color: #f6f7f8;


		p {
			margin: 0;
			padding: 12px;
			border-top: 1px solid #e1e2e3;
			.border-radiuses(0,3px,3px,0);
		}
	}

}






// general

.sub-grey-action-links {

	color: #bbb !important;
}


.content-area-body-wrap {

	// @media @desktop {
	// 	padding: 12px 24px;
	// }
}






.book-details-shelf-title-tab-container {
	display: inline-block; // restrict background to title width
	padding: 4px 12px;
	background-color: @color-background-shelf-title-and-book-name-top-border;
	font-size: 12px;
	font-weight: 600;

	a, a:visited, a:hover {
		// color: #515158;
		color: darken(#B8AE9C,32);
	}
}






// body, html{

// 	@media @desktop {
// 		height: 100%;
// 	}
// }

// .full-height {
	
// 	@media @desktop {
// 		height: 100%;
// 	}
// }

// .sidebar-wrap {
// 	background-color: @bgColor;

// 	@media @desktop {
// 		border-right: 1px solid darken(@bgColor, 4);
// 	}

// 	@media @phone {
// 		border-bottom: 1px solid darken(@bgColor, 4);
// 	}
// }


// a.no-underline {

// 	&:hover {
// 		text-decoration: none;
// 	}
// }