
// modules.less

// .module-wrap {
// 	margin-top: 2px;
// 	margin-left: 2px;
// 	margin-right: 2px;
// 	.border-radius(2px);
// }

// .module-title {
// 	// height: 40px;
// 	border-bottom: 2px solid darken(#F4F4F4, 3);
// 	text-align: center;
// 	color: #999;
// 	font-size: 15px;
// 	margin-bottom: 10px;
// 	padding: 5px;
// 	font-weight: 600;
// }

// .module-body {
// 	padding: 5px;
// }

.module-wrap.header {
	height: 47px;
	background-color: @header-colo-bg-main;
	@border-color: darken(@header-colo-bg-main, 3);
	border-top: 2px solid @border-color;
	border-bottom: 2px solid @border-color;
	// @shadow: 0 0 8px 5px rgba(0,0,0,0.2);
	@shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 1px 6px 1px rgba(0, 0, 0, 0.2);
	.box-shadow(@shadow);
	padding: 11px;
}

// .module-wrap.margin-top{
// 	margin-top: 3px;
// }

// .module-wrap.grey {
// 	background-color: #F4F4F4;
// 	border: 2px solid darken(#F4F4F4, 3);

// }

.module-container {
	padding: 12px;

	&.white {
		background-color: #fff
	}

	&.padding {
		padding: 12px;
	}
}

.borders {
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}


.module-header {
	padding: 12px;
	background: #f6f7f8;
	border-bottom: 1px solid #e9eaed;
}

.book-inside-shelf-header {
	border-top-width: 4px;
	border-top-color: @color-background-shelf-title-and-book-name-top-border;
}