
// overrides.less

	// stop ios safari zoom on input focus https://stackoverflow.com/a/26069511

	@media screen and (-webkit-min-device-pixel-ratio:0) {
	  .form-control {
	    font-size: 16px;
	  }
	}

	@media (min-width: 768px) {
	  .form-control {
	    font-size: 14px;
	  }
	}


// bootstrap overrides

	// general styles

	a {
	  color: purple;

	  &:hover {
	  	color: purple;
	  }

	  &:visited {
	  	color: purple;
	  }
	}

	// top navbar styling

	.navbar-inverse {
		// @navbarbg: #2B2F3D;
		// @navbarbg: lighten(#363636,3);
		// @navbarbg: #313137;
		// @navbarbg: #3E3F44;
		@navbarbg: #473D32; // brown
		// @navbarbg: #262221;
		@navbarbg: #333;
		// @navbarbg: #313137;
	 	background-color: @navbarbg;
	 	border-color: darken(saturate(@navbarbg,10),4);

	 	.navbar-brand {
	 		color: #ddd;
	 	}
	}


	// general button styling

	.btn {
		.border-radius (2px;);
		min-width: 100px;

		&.btn-icon {
			min-width: 0;
		}
		
		&.btn-primary {
			border-color: #1F5D92;
		}
	}


	.nav .caret {
		border-top-color: #555;
		border-bottom-color: #555;
	}



	// alert styling

	.alert {
		height: 40px;
		// margin-top: 2px;
		// margin-left: 2px;
		// margin-right: 2px;
		margin-bottom: 0;
		// .border-radiuses(0, 2px, 2px, 0);
		.border-radius(0);

		// padding-top: 8px;
		// padding-bottom: 7px;

		// padding-left: 10px;

		border: 0;
		// border-bottom: 1px solid #e0dbda;
		// border-bottom-width: 2px;
		// border-top-width: 0;
		// border-left-width: 2px;
		// border-right-width: 2px;
		// border-top: none;
		// border-left: none;
		// border-right: none;
		font-size: 14px;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 8px;
		// text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.8);
		// text-shadow: 0 2px 5px rgba(0, 0, 0, 1.0);

		span.alert-message {
			opacity: 0.9;
		}
	}

	.alert-warning {
	  // border-color: #FFDE9E;
	  background-color: #C4BE30;
	  color: #fff;
	}

	.alert-success {
		border-color: #90B481;
	}

	.alert-danger {
		border-color: #E29C9B;
	}

	.alert-dismissable {
		padding-left: 35px;
	}

	.alert-dismissable .close {
	  position: relative;
	  top: 0;
	  right: -21px;
	  color: inherit;
	}

	.close {
		opacity: 0.7;
		text-shadow: none;
		// text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.8);
	}
	


	// remove all global padding and max-width so that content fills browser
	.container {
		padding-left: 0;
		padding-right: 0;
		max-width: 100%;
		
	}

	.row {
		margin-left: 0;
		margin-right: 0;
	}

	.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
		padding-left: 0;
		padding-right: 0;
	}



	// form overrides

	input {
		width: 100%;
	}

	textarea {
		resize: vertical;
	}


	.form-horizontal  {


		.radio-inline:first-child, .checkbox-inline:first-child  {
			padding-left: 0;
		}

	}


// table row highlight on hover color

	.table-hover > tbody > tr:hover > td,
	.table-hover > tbody > tr:hover > th {
		// background-color: darken(#f5f5f5,3);
		// background-color: #fcf8e3;
		background-color: darken(#fcf8e3,7);
	}



// vendor / forms.less

// select,
// textarea,
// input[type="text"],
// input[type="password"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="date"],
// input[type="month"],
// input[type="time"],
// input[type="week"],
// input[type="number"],
// input[type="email"],
// input[type="url"],
// input[type="search"],
// input[type="tel"],
// input[type="color"],
// .uneditable-input{
//     margin-bottom: 0;
// }

