
// page_specific.less



// Page Name








// book details / new jot form

	.new-jot-area-wrap {
		border: 1px #ccc solid;
		padding: 17px 20px 20px 20px;
		.border-radius(5px);
		background-color: @newJotBoxBGcolor;

		header label {
			display: block;
			font-size: 11px;
			line-height: 14px;
			font-weight: 700;
			text-transform: uppercase;
			color: #777;
			padding-bottom: 10px;

			.book-title {
				color: rgb(209, 154, 12);
			}
		}
	}

	.jot-attachment-wrap {
		.input-group-btn.remove-jot-attachment-wrap {
			display: none;
		}

		&.multi {
			.input-group-btn.remove-jot-attachment-wrap {
				display: table-cell;
			}
		}
	}


	.btn {

		&.add-jot-attachment, &.remove-jot-attachment {
			.border-radius(0);
			min-width: 0;
		}
	}

	.new-jot-area-submit-btn-wrap {
		margin-top: 10px;
		text-align: right;

		.new-jot-save-btn {
			min-width: 150px;
		}
	}



	.book-details-jot-listing-wrap {
		margin-top: 12px;
	}


	





// shelf listing


	// testing

	.shelf-listing-shelf-title {
		font-size: 16px;
		// font-weight: 600;
	}




// table.listing {
// 	width: 98%;
// 	margin: 0 auto;
// 	background-color: #f5f5f5;
// 	border: 2px solid #fff;

// 	td {
// 		padding: 5px;
// 	}
// }

// table.activity-listing-table {
// 	width: 98%;
// 	margin: 0 auto;

// 	td {
// 		padding: 5px;
// 	}
// }