
// sprites.less


.sprite {
  background:url('../../img/sprites.png') no-repeat -9999px -9999px;
  background-size: 127px 23px;


  &.logo {
  	display: inline-block;
  	background-position: 0 0;
  	width: 127px;
  	height: 23px;
  }

}

