{% from 'mods/book/macros/_helpers.html' import render_book_links_to_actions %}
{% from 'mods/book/macros/_forms.html' import render_book_form %}

{% extends "base.html" %}

{% block bodyHTML %}

<div class="content-area-title-bar-wrap">

	<button type="button" class="btn btn-icon btn-default sidebar-toggle"><i class="fa fa-bars"></i></button>

	{% if up_level_url %}

		<a href="{{ up_level_url }}"><button type="button" class="btn btn-icon btn-default"><i class="fa fa-arrow-up"></i></button></a>

	{% endif %}

	Change Shelf

	{# <div class="pull-right">

		<a href="{{ url_for('shelfBP.delete', user_username=shelf_details.creator_username, shelf_slug=shelf_details.actual_slug) }}"><button type="button" class="btn btn-danger"><i class="fa fa-trash-o fa-lg top-minus-1"></i> Delete Shelf</button></a>

	</div> #}

</div>

	<div style="text-align: center;">

		<br><br>

		<h1>Change Book's Shelf</h1><br><br>

		Book Name:<br>
		<h3>{{ book_details.name }}</h3><br><br>

		Current Shelf:<br>
		<a href="{{ url_for('shelfBP.details', user_username=book_details.creator_username, shelf_slug=book_details.shelf_slug) }}">{{ book_details.shelf_name }}</a>

		{{ render_book_form(request, post_inputs, post_errors, 'change_shelf', users_shelf_list) }}

		<br><br>

		{{ render_book_links_to_actions(request, book_details) }}

	</div>

{% endblock %}