{% from 'mods/book/macros/_helpers.html' import render_book_links_to_actions %}

{% extends "base.html" %}

{% block bodyHTML %}

<div class="content-area-title-bar-wrap">

	<button type="button" class="btn btn-icon btn-default sidebar-toggle"><i class="fa fa-bars"></i></button>

	{% if up_level_url %}

		<a href="{{ up_level_url }}"><button type="button" class="btn btn-icon btn-default"><i class="fa fa-arrow-up"></i></button></a>

	{% endif %}

	Book Delete

	{# <div class="pull-right">

		<a href="{{ url_for('shelfBP.delete', user_username=shelf_details.creator_username, shelf_slug=shelf_details.actual_slug) }}"><button type="button" class="btn btn-danger"><i class="fa fa-trash-o fa-lg top-minus-1"></i> Delete Shelf</button></a>

	</div> #}

</div>

	<div style="text-align: center;">

		<br>

		<span style="font-size: 11px; color: #ccc; font-style: italic;">Confirm Book Deletion</span>

		<h1>Really delete book?</h1><br><br>

		{% if book_details.stats['jot_count'] and book_details.stats['jot_count']|int > 0 %}

			<span style="color: red;">WARNING: Deleting this book will also delete the {{ book_details.stats['jot_count'] }} jots it holds.</span>

			<br><br>

		{% endif %}

		<form method="POST">

			{% if book_details.stats['jot_count'] and book_details.stats['jot_count']|int > 0 %}

				{% set confirm_button_value = 'Yes, delete book & jots now.' %}

			{% else %}

				{% set confirm_button_value = 'Yes, delete book now.' %}

			{% endif %}

			<input type="submit" name="confirm" value="{{ confirm_button_value }}"><br><br>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

		</form>

		{{ render_book_links_to_actions(request, book_details) }}

		{# <br><br><br>

		<hr style="width: 75%; margin: 0 auto;">

		<br>

		<h3>Jot Details</h3><br><br>

		<span style="font-size: 11px; color: #ccc; font-style: italic;">Shelf: <a href="{{ url_for('shelfBP.details', user_username=jot_details.creator_username, shelf_slug=jot_details.shelf_slug) }}">{{ jot_details.shelf_name }}</a></span>

		<br><br>

		<span style="font-size: 11px; color: #ccc; font-style: italic;">Book: <a href="{{ url_for('bookBP.details', user_username=jot_details.creator_username, shelf_slug=jot_details.shelf_slug, book_slug=jot_details.book_slug) }}">{{ jot_details.book_name }}</a></span>

		<br><br>

		<span style="font-size: 11px; color: #ccc; font-style: italic;">{{ jot_details.time_created }}</span>

		<br><br>

		{{ jot_details.message }} #}

	</div>

{% endblock %}