{% from 'macros/_subHeader.html' import render_subHeader_book_details %}
{% from 'mods/book/macros/_helpers.html' import render_book_links_to_actions, render_prev_and_next_book_in_shelf_buttons %}
{% from 'mods/jot/macros/_forms.html' import render_new_jot_form %}
{% from 'mods/jot/macros/_helpers.html' import render_jot_entry_block %}
{# {% from 'mods/jot/macros/_helpers.html' import render_jot_attachments %} #}

{% extends "base.html" %}

{% block subHeader %} 

	{{ render_subHeader_book_details(session, up_level_url, book_details, shelf_listing, book_listing) }}

 {% endblock %}

{% block bodyHTML %}

{# <div class="content-area-title-bar-wrap">

	<button type="button" class="btn btn-icon btn-default sidebar-toggle"><i class="fa fa-bars"></i></button>

	{% if up_level_url %}

		<a href="{{ up_level_url }}"><button type="button" class="btn btn-icon btn-default"><i class="fa fa-arrow-up"></i></button></a>

	{% endif %}

	Book Details

	{# <div class="pull-right">

		<a href="{{ url_for('shelfBP.delete', user_username=shelf_details.creator_username, shelf_slug=shelf_details.actual_slug) }}"><button type="button" class="btn btn-danger"><i class="fa fa-trash-o fa-lg top-minus-1"></i> Delete Shelf</button></a>

	</div> #}

{# </div> #}

{# <div class="margin-left-right">

	<div class="cell-container full-width">

		<div class="table-row">

			<div class="cell-container full-width">

				<div class="cell">

					<div class="cell-container full-width">

						{% if up_level_url %}							

							<div class="book-details-shelf-title-tab-container">

								<a href="{{ url_for('shelfBP.details', user_username=user_username, shelf_slug=book_details.shelf_slug) }}">{{ book_details.shelf_name }}</a>

							</div>

						{% endif %}

					</div>

				</div>

				<div class="cell" style="width: 100px;">

					<div class="cell-container full-width">

						{% if prev_book_in_shelf_slug or next_book_in_shelf_slug %}

								{{ render_prev_and_next_book_in_shelf_buttons(book_details, prev_book_in_shelf_slug, next_book_in_shelf_slug) }}

						{% endif %}

					</div>

				</div>


			</div>

		</div>

		<div class="module-container white borders named-title-container book-inside-shelf-header">

			<a href="#">{{ book_details.name }}</a>

		</div>

		<div class="table-row">

			<div class="cell-container full-width">

				<div class="cell" style="width: 30%">

					<span style="font-size: 11px; color: #aaa; font-style: italic;"><a href="url_for()">{{ book_details.creator_username }}'s</a> Book</span>

				</div>

				<div class="cell" style="width: 30%">



				</div>


			</div>

		</div>

	</div>

</div> #}

<div class="row content-area-content-wrap">

	{% if session.get('user_username') == book_details.creator_username %}

		{# <br><br>

		{{ render_book_links_to_actions(request, book_details) }}

		<br>

		<br><br><br>#}

		{{ render_new_jot_form(csrf_token(), book_details) }}

	{% endif %}

	<div>

		Sorting Options go between form and jot list.

	</div>

	{% if books_jot_listing %}

	<div class="book-details-jot-listing-wrap">

		{% for jot in books_jot_listing %}

			{{ render_jot_entry_block(session, jot) }}

		{% endfor %}

	</div>

	{% else %}

	<br><br>

	<span style="font-size: 11px; color: #9197a3; font-style: italic;">No jots.</span>

	{% endif %}

</div>

{% endblock %}