{% extends "base.html" %}

{% block bodyHTML %}

<div class="content-area-title-bar-wrap">

	<button type="button" class="btn btn-icon btn-default sidebar-toggle"><i class="fa fa-bars"></i></button>

	{% if up_level_url %}

		<a href="{{ up_level_url }}"><button type="button" class="btn btn-icon btn-default"><i class="fa fa-arrow-up"></i></button></a>

	{% endif %}

	Book Listing

	<div class="pull-right">

		<a href="{{ url_for('bookBP.new', user_username=session.get('user_username')) }}"><button type="button" class="btn btn-default">New Book</button></a>

	</div>

</div>

	<div style="text-align: center;">

		<h3>{{ user_username }}'s Book</h3>

		{% if book_list %}

			<form method="POST">

				<table class="listing">
					<tr>
						<th>Pin</th>
						<th>Book Name</th>
						<th>Shelf Name</th>
						<th>Created</th>
						<th>Modified</th>
						<th>Jot Count</th>
						<th></th>
						<th></th>
					</tr>

					{% for book_details in book_list %}

						<tr>
							<td>

								{% if book_details.attributes['pin']|int == 0 %}

									<input type="checkbox" name="do_pin" value="{{ book_details.id }}">

								{% elif book_details.attributes['pin']|int == 1 %}

									<input type="hidden" name="pind_list" value="{{ book_details.id }}">

									<input type="checkbox" name="do_unpin" value="{{ book_details.id }}" checked>

								{% endif %}

							</td>
							<td><a href="{{ url_for('bookBP.details', user_username=book_details.creator_username, shelf_slug=book_details.shelf_slug, book_slug=book_details.actual_slug) }}">{{ book_details.name }}</a></td>
							<td><a href="{{ url_for('shelfBP.details', user_username=book_details.creator_username, shelf_slug=book_details.shelf_slug) }}">{{ book_details.shelf_name }}</a></td>
							<td>{{ book_details.time_created|pretty_date }}</td>
							<td>{{ book_details.last_modified|pretty_date }}</td>
							<td>{{ book_details.stats['jot_count'] }}</td>
							<td><a href="{{ url_for('bookBP.rename', user_username=book_details.creator_username, shelf_slug=book_details.shelf_slug, book_slug=book_details.actual_slug) }}">rename</a></td>
							<td><a href="{{ url_for('bookBP.delete', user_username=book_details.creator_username, shelf_slug=book_details.shelf_slug, book_slug=book_details.actual_slug) }}">delete</a></td>
						</tr>

					{% endfor %}

				</table>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

				<input type="submit" value="Update Pins">

			</form>

		{% else %}

			<br><br>

			<i>No book here.</i>

		{% endif %}

		

	</div>

{% endblock %}