{% from 'mods/book/macros/_forms.html' import render_book_form %}

{% extends "base.html" %}

{% block bodyHTML %}

<div class="content-area-title-bar-wrap">

	<button type="button" class="btn btn-icon btn-default sidebar-toggle"><i class="fa fa-bars"></i></button>

	{% if up_level_url %}

		<a href="{{ up_level_url }}"><button type="button" class="btn btn-icon btn-default"><i class="fa fa-arrow-up"></i></button></a>

	{% endif %}

	New Book

	{# <div class="pull-right">

		<a href="{{ url_for('shelfBP.delete', user_username=shelf_details.creator_username, shelf_slug=shelf_details.actual_slug) }}"><button type="button" class="btn btn-danger"><i class="fa fa-trash-o fa-lg top-minus-1"></i> Delete Shelf</button></a>

	</div> #}

</div>

	<div style="text-align: center;">

		<br><br>

		<h1>Create a Book</h1>

		{{ render_book_form(request, post_inputs, post_errors, 'new', users_shelf_list) }}

	</div>

{% endblock %}