{#{% macro render_new_jot_form(csrf_token) %}

<form method="post">

	<div class="row">

		<textarea name="message" class="form-control" placeholder="Jot something down..."></textarea>

	</div>

	<div class="jot-attachment-wrap">

		<div class="row jot-attachment-field">

			<div class="input-group margin-top-10">
			  <span class="input-group-addon"><i class="fa fa-paperclip fa-lg"></i></span>
			  <input type="text" name="attachment" class="form-control" placeholder="attach a url">
			  <span class="input-group-btn remove-jot-attachment-wrap">
		        <button class="btn btn-danger no-border-left remove-jot-attachment" type="button"><i class="fa fa-minus"></i></button>
		      </span>
			  <span class="input-group-btn">
		        <button class="btn btn-default no-border-left add-jot-attachment" type="button"><i class="fa fa-plus"></i></button>
		      </span>
			</div>

		</div>

	</div>

	<div class="row">

		<div class="margin-top-10">

			<input type="hidden" name="_csrf_token" value="{{ csrf_token }}">

			<button class="btn btn-default" type="submit">Save</button>

		</div>

	</div>

</form>

{% endmacro %} #}



{% macro render_new_jot_form(csrf_token, book_details) %}

<form method="post">


	<div class="new-jot-area-wrap">

		<header>

			<label for="new_jot[body]">Jot in <span class="book-title">{{ book_details.name }}</span>:</label>

		</header>

		<div class="row">

			<textarea name="message" class="form-control" placeholder="Type your jot here ..."></textarea>

		</div>

		<div class="jot-attachment-wrap">

			<div class="row jot-attachment-field">

				<div class="input-group margin-top-10">
				  <span class="input-group-addon"><i class="fa fa-paperclip fa-lg"></i></span>
				  <input type="text" name="attachment" class="form-control" placeholder="attach a url">
				  <span class="input-group-btn remove-jot-attachment-wrap">
			        <button class="btn btn-danger no-border-left remove-jot-attachment" type="button"><i class="fa fa-minus"></i></button>
			      </span>
				  <span class="input-group-btn">
			        <button class="btn btn-default no-border-left add-jot-attachment" type="button"><i class="fa fa-plus"></i></button>
			      </span>
				</div>

			</div>

		</div>

		<div class="row">

			<div class="new-jot-area-submit-btn-wrap">

				<input type="hidden" name="_csrf_token" value="{{ csrf_token }}">

				<button class="btn btn-primary new-jot-save-btn" type="submit">Save</button>

			</div>

		</div>

	</div>


	{# <div class="row">

		<textarea name="message" class="form-control" placeholder="Jot something down..."></textarea>

	</div>

	<div class="jot-attachment-wrap">

		<div class="row jot-attachment-field">

			<div class="input-group margin-top-10">
			  <span class="input-group-addon"><i class="fa fa-paperclip fa-lg"></i></span>
			  <input type="text" name="attachment" class="form-control" placeholder="attach a url">
			  <span class="input-group-btn remove-jot-attachment-wrap">
		        <button class="btn btn-danger no-border-left remove-jot-attachment" type="button"><i class="fa fa-minus"></i></button>
		      </span>
			  <span class="input-group-btn">
		        <button class="btn btn-default no-border-left add-jot-attachment" type="button"><i class="fa fa-plus"></i></button>
		      </span>
			</div>

		</div>

	</div>

	<div class="row">

		<div class="margin-top-10">

			<input type="hidden" name="_csrf_token" value="{{ csrf_token }}">

			<button class="btn btn-default" type="submit">Save</button>

		</div>

	</div> #}

</form>

{% endmacro %}


{% macro render_edit_jot_form(csrf_token, jot_details) %}

<form method="POST">

	<textarea name="message" style="width: 85%; height: 150px; margin: 0 auto;">{% if jot_details.message %}{{ jot_details.message }}{% endif %}</textarea><br><br>

	{{ render_jot_attachments_edit(jot_details.attachments) }}<br>

	<input type="submit" name="confirm" value="Save edit."><br><br>

	<a href="{{ url_for('bookBP.details', user_username=jot_details.creator_username, shelf_slug=jot_details.shelf_slug, book_slug=jot_details.book_slug) }}">cancel</a> | <a href="{{ url_for('jotBP.delete', user_username=jot_details.creator_username, shelf_slug=jot_details.shelf_slug, book_slug=jot_details.book_slug, jot_id=jot_details.id) }}">delete</a>

	<input type="hidden" name="_csrf_token" value="{{ csrf_token }}">

</form>

{% endmacro %}


{% macro render_jot_attachments_edit(jot_attachments_dict) %}

	{% set jot_attachments_dict_length = jot_attachments_dict|length %}

	{% if jot_attachments_dict_length > 0 %}

		{% set jot_attachments_dict_key = 1 %}

		{% for entry in jot_attachments_dict %}

			<input name="attachment" style="width: 75%; margin: 0 auto;" placeholder="attach a url" value="{{ jot_attachments_dict[loop.index|string] }}"><br><br>

		{% endfor %}

	{% else %}

		<input name="attachment" style="width: 75%; margin: 0 auto;" placeholder="attach a url"><br><br>

	{% endif %}

{% endmacro %}