{% macro render_jot_entry_block(session, jot) %}	

	<div class="jot-entry-box-container">

		<div class="jot-entry-box-header-wrap">

			<a href="{{ url_for('jotBP.details', user_username=jot.creator_username, shelf_slug=jot.shelf_slug, book_slug=jot.book_slug, jot_id=jot.id) }}" class="no-underline"><span style="font-size: 11px; color: #ccc; font-style: italic;">{{ jot.time_created }}</span></a> {# | <a href="#">copy</a> #}

			{% if session.get('user_username') == jot.creator_username %}

			<div class="pull-right">

				{# | <a href="#">move</a> #}| <a href="{{ url_for('jotBP.edit', user_username=jot.creator_username, shelf_slug=jot.shelf_slug, book_slug=jot.book_slug, jot_id=jot.id) }}">edit</a> | <a href="{{ url_for('jotBP.delete', user_username=jot.creator_username, shelf_slug=jot.shelf_slug, book_slug=jot.book_slug, jot_id=jot.id) }}">delete</a>

			</div>

			{% endif %}

		</div>

		<div class="jot-entry-box-body-wrap">

			{% if jot.message %}

				{{ jot.message|markdown }}

			{% endif %}

		</div>

		{{ render_jot_attachments(jot.attachments)|urlize(None, True) }}

	</div>

{% endmacro %}



{% macro render_jot_attachments(jot_attachments_dict) %}

	{% set jot_attachments_dict_length = jot_attachments_dict|length %}

	{% if jot_attachments_dict_length > 0 %}

		<div class="jot-entry-box-attachment-area-container">

			{% set jot_attachments_dict_key = 1 %}

			{% for entry in jot_attachments_dict %}

				{# <div style="background-color: #f5f5f5; padding: 3px; margin: 4px auto 0; width: 96%;"> #}

					{{ jot_attachments_dict[loop.index|string]|imgify|markdown }}

				{# </div> #}

			{% endfor %}

		</div>

	{% endif %}

{% endmacro %}