{% macro render_signup_form(next, signup_inputs, signup_errors) %}

    <div style="width: 75%; margin: 0 auto;">

        <br>

        <div style="text-align: center;">

            <h2>Create Account</h2><br>

        </div>

        <form id="signup" method="POST" action="{{ url_for('userBP.signup') }}">

            <div style="margin-top: 10px;">

                <label>Username:</label>
                <input type="text" name="username" placeholder="6 character minimum, max: 15 " {%- if signup_inputs.get('username') %} value="{{ signup_inputs.get('username') }}"{% endif %}><br>
                {% if signup_errors.get('username') %}<span class="error">Error: {{ signup_errors.get('username')|safe }}</span><br>{% endif %}

            </div>

            <div style="margin-top: 10px;">

                <label>Password:</label>
                <input type="password" name="password" placeholder="7 character minimum"><br>
                {% if signup_errors.get('password') %}<span class="error">Error: {{ signup_errors.get('password') }}</span><br>{% endif %}

            </div>

            <div style="margin-top: 10px;">

                <label>Repeat Password:</label>
                <input type="password" name="repeat_pass" placeholder="Verify you typed it correctly."><br>
                {% if signup_errors.get('repeat_pass') %}<span class="error">Error: {{ signup_errors.get('repeat_pass') }}</span><br>{% endif %}
                {# <a href="">Learn about Tagxt's password security.</a> #}
                
            </div>

            <div style="margin-top: 10px;">

                <label>Type the letters/numbers shown:</label>

                <script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k=6LegndUSAAAAAMalkXlf5ijU1QK7g0kjsGqPn_1B"></script>
        		<noscript>
        			<iframe src="http://www.google.com/recaptcha/api/noscript?k=6LegndUSAAAAAMalkXlf5ijU1QK7g0kjsGqPn_1B" height="300" width="500" frameborder="0"></iframe><br>
        		    <textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
        		    <input type="hidden" name="recaptcha_response_field" value="manual_challenge">
        		</noscript>

        		{% if signup_errors.get('captcha') %}<span class="error">Error: {{ signup_errors.get('captcha') }}</span><br>{% endif %}

            </div>


            <input type="hidden" name="next" value="{{ next }}">
            <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">

            <div class="text-center form-input-wrap row clearfix">

                <input type="submit" value="Create Account">

            </div>                  

        </form>

    </div>

{% endmacro %}