{% extends "base.html" %}

{% block bodyHTML %}

<div class="content-area-title-bar-wrap">

	<button type="button" class="btn btn-icon btn-default sidebar-toggle"><i class="fa fa-bars"></i></button>

	{% if up_level_url %}

		<a href="{{ up_level_url }}"><button type="button" class="btn btn-icon btn-default"><i class="fa fa-arrow-up"></i></button></a>

	{% endif %}

	Jot Delete

	{# <div class="pull-right">

		<a href="{{ url_for('shelfBP.delete', user_username=shelf_details.creator_username, shelf_slug=shelf_details.actual_slug) }}"><button type="button" class="btn btn-danger"><i class="fa fa-trash-o fa-lg top-minus-1"></i> Delete Shelf</button></a>

	</div> #}

</div>

	<div style="text-align: center;">

		<br>

		<span style="font-size: 11px; color: #ccc; font-style: italic;">Confirm Jot Deletion</span>

		<br><br>

		<h1>Really delete jot?</h1><br><br>

		<form method="POST">

			<input type="submit" name="confirm" value="Yes, delete now."><br><br>

			<a href="{{ url_for('bookBP.details', user_username=jot_details.creator_username, shelf_slug=jot_details.shelf_slug, book_slug=jot_details.book_slug) }}">cancel</a> | <a href="{{ url_for('jotBP.edit', user_username=jot_details.creator_username, shelf_slug=jot_details.shelf_slug, book_slug=jot_details.book_slug, jot_id=jot_details.id) }}">edit</a>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

		</form>

		<br><br><br>

		<hr style="width: 75%; margin: 0 auto;">

		<br>

		<h3>Jot Details</h3><br><br>

		<span style="font-size: 11px; color: #ccc; font-style: italic;">Shelf: <a href="{{ url_for('shelfBP.details', user_username=jot_details.creator_username, shelf_slug=jot_details.shelf_slug) }}">{{ jot_details.shelf_name }}</a></span>

		<br><br>

		<span style="font-size: 11px; color: #ccc; font-style: italic;">Book: <a href="{{ url_for('bookBP.details', user_username=jot_details.creator_username, shelf_slug=jot_details.shelf_slug, book_slug=jot_details.book_slug) }}">{{ jot_details.book_name }}</a></span>

		<br><br>

		<span style="font-size: 11px; color: #ccc; font-style: italic;">{{ jot_details.time_created }}</span>

		<br><br>

		{{ jot_details.message }}

	</div>

{% endblock %}