{% extends "base.html" %}

{% block bodyHTML %}

<div class="content-area-title-bar-wrap">

	<button type="button" class="btn btn-icon btn-default sidebar-toggle"><i class="fa fa-bars"></i></button>

	{% if up_level_url %}

		<a href="{{ up_level_url }}"><button type="button" class="btn btn-icon btn-default"><i class="fa fa-arrow-up"></i></button></a>

	{% endif %}

	Jot Details

	{# <div class="pull-right">

		<a href="{{ url_for('shelfBP.delete', user_username=shelf_details.creator_username, shelf_slug=shelf_details.actual_slug) }}"><button type="button" class="btn btn-danger"><i class="fa fa-trash-o fa-lg top-minus-1"></i> Delete Shelf</button></a>

	</div> #}

</div>

	<div style="text-align: center;">

		<br>

		<span style="font-size: 11px; color: #ccc; font-style: italic;">{{ jot_details.creator_username }}'s Jot</span>

		<br><br>

		<span style="font-size: 11px; color: #ccc; font-style: italic;">Shelf: <a href="{{ url_for('shelfBP.details', user_username=jot_details.creator_username, shelf_slug=jot_details.shelf_slug) }}">{{ jot_details.shelf_name }}</a></span>

		<br><br>

		<span style="font-size: 11px; color: #ccc; font-style: italic;">Book: <a href="{{ url_for('bookBP.details', user_username=jot_details.creator_username, shelf_slug=jot_details.shelf_slug, book_slug=jot_details.book_slug) }}">{{ jot_details.book_name }}</a></span>

		<br><br>

		<span style="font-size: 11px; color: #ccc; font-style: italic;">{{ jot_details.time_created }}</span>

		<br><br>

		{{ jot_details.message }}

		<br><br>

		<hr style="width: 75%; margin: 0 auto;">

		<br>

		{# <a href="#">copy</a> #}

		{% if session.get('user_username') == jot_details.creator_username %}

			{# | <a href="#">move</a> #}| <a href="{{ url_for('jotBP.edit', user_username=jot_details.creator_username, shelf_slug=jot_details.shelf_slug, book_slug=jot_details.book_slug, jot_id=jot_details.id) }}">edit</a> | <a href="{{ url_for('jotBP.delete', user_username=jot_details.creator_username, shelf_slug=jot_details.shelf_slug, book_slug=jot_details.book_slug, jot_id=jot_details.id) }}">delete</a>

		{% endif %}

	</div>

{% endblock %}