{% extends "base.html" %}

{% block bodyHTML %}

<div class="content-area-title-bar-wrap">

	<button type="button" class="btn btn-icon btn-default sidebar-toggle"><i class="fa fa-bars"></i></button>

	{% if up_level_url %}

		<a href="{{ up_level_url }}"><button type="button" class="btn btn-icon btn-default"><i class="fa fa-arrow-up"></i></button></a>

	{% endif %}

	User Profile

	{# <div class="pull-right">

		<a href="{{ url_for('shelfBP.delete', user_username=shelf_details.creator_username, shelf_slug=shelf_details.actual_slug) }}"><button type="button" class="btn btn-danger"><i class="fa fa-trash-o fa-lg top-minus-1"></i> Delete Shelf</button></a>

	</div> #}

</div>

<div class="row content-area-content-wrap page-padding">

	<a href="{{ url_for('shelfBP.listing', user_username=user_username) }}" class="btn btn-primary btn-lg">All My Shelves</a>
	<a href="{{ url_for('bookBP.listing', user_username=user_username) }}" class="btn btn-default btn-lg">All My Books</a>

	<br><br>

	<a href="{{ url_for('userBP.settings', user_username=session['user_username']) }}" class="btn btn-default btn-lg"><i class="fa fa-cogs"></i> My Settings</a>

</div>

{% endblock %}