{% extends "base.html" %}

{% block bodyHTML %}

<div class="content-area-title-bar-wrap">

	<button type="button" class="btn btn-icon btn-default sidebar-toggle"><i class="fa fa-bars"></i></button>

	{% if up_level_url %}

		<a href="{{ up_level_url }}"><button type="button" class="btn btn-icon btn-default"><i class="fa fa-arrow-up"></i></button></a>

	{% endif %}

	User Settings

	{# <div class="pull-right">

		<a href="{{ url_for('shelfBP.delete', user_username=shelf_details.creator_username, shelf_slug=shelf_details.actual_slug) }}"><button type="button" class="btn btn-danger"><i class="fa fa-trash-o fa-lg top-minus-1"></i> Delete Shelf</button></a>

	</div> #}

</div>

<div class="row content-area-content-wrap page-padding">

	Default shelf/book list sorting:
	<select>
		<option>Name (Ascending)</option>
		<option>Name (Descending)</option>
		<option>Created (Ascending)</option>
		<option>Created (Descending)</option>
		<option>Modified (Ascending)</option>
		<option>Modified (Descending)</option>
		<option>Book/Jot Count (Ascending)</option>
		<option>Book/Jot Count (Descending)</option>
	</select>



</div>

{% endblock %}