{# {% from 'mods/book/macros/_helpers.html' import render_book_links_to_actions %} #}

{% extends "base.html" %}

{% block bodyHTML %}

<div class="content-area-title-bar-wrap">

	<button type="button" class="btn btn-icon btn-default sidebar-toggle"><i class="fa fa-bars"></i></button>

	{% if up_level_url %}

		<a href="{{ up_level_url }}"><button type="button" class="btn btn-icon btn-default"><i class="fa fa-arrow-up"></i></button></a>

	{% endif %}

	Shelf Delete

	{# <div class="pull-right">

		<a href="{{ url_for('shelfBP.delete', user_username=shelf_details.creator_username, shelf_slug=shelf_details.actual_slug) }}"><button type="button" class="btn btn-danger"><i class="fa fa-trash-o fa-lg top-minus-1"></i> Delete Shelf</button></a>

	</div> #}

</div>

	<div style="text-align: center;">

		<br>

		<span style="font-size: 11px; color: #ccc; font-style: italic;">Confirm Shelf Deletion</span>

		<h1>Really delete shelf?</h1><br><br>

		{% if shelf_details.stats['book_count'] and shelf_details.stats['book_count']|int > 0 %}

			<span style="color: red;">WARNING: Deleting this shelf will also delete the {{ shelf_details.stats['book_count'] }} books it holds.</span>

			<br><br>

		{% endif %}

		<form method="POST">

			{% if shelf_details.stats['book_count'] and shelf_details.stats['book_count']|int > 0 %}

				{% set confirm_button_value = 'Yes, delete shelf & book(s) now.' %}

			{% else %}

				{% set confirm_button_value = 'Yes, delete shelf now.' %}

			{% endif %}

			<input type="submit" name="confirm" value="{{ confirm_button_value }}"><br><br>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

		</form>

		{# {{ render_book_links_to_actions(request, book_details) }} #}

	</div>

{% endblock %}