{% extends "base.html" %}

{% block bodyHTML %}

<div class="content-area-title-bar-wrap">

	<button type="button" class="btn btn-icon btn-default sidebar-toggle"><i class="fa fa-bars"></i></button>

	{% if up_level_url %}

		<a href="{{ up_level_url }}"><button type="button" class="btn btn-icon btn-default"><i class="fa fa-arrow-up"></i></button></a>

	{% endif %}

	Shelf Details

	<div class="pull-right">

		<a href="{{ url_for('bookBP.new', user_username=session.get('user_username'), shelf=shelf_details.actual_slug) }}"><button type="button" class="btn btn-default">New Book</button></a>

	</div>

</div>

	<div style="text-align: center;">

		<br>

		<span style="font-size: 11px; color: #ccc; font-style: italic;">{{ shelf_details.creator_username }}'s Shelf</span>

		<br><br>



		<h1>{{ shelf_details.name }}</h1>

		{% if session.get('user_username') == shelf_details.creator_username %}

			<br><br>

			<a href="{{ url_for('shelfBP.edit', user_username=shelf_details.creator_username, shelf_slug=shelf_details.actual_slug) }}">edit</a>

		{% endif %}

		<br><br><br>


		{% if shelf_book_list %}

			<span style="font-size: 11px; color: #ccc; font-style: italic;">Books on shelf:</span><br><br>

			<form method="POST">

				<table class="listing">
					<tr>
						<th>Pin</th>
						<th>Name / Link</th>
						<th>Created</th>
						<th>Modified</th>
						<th>Jot Count</th>
						<th></th>
						<th></th>
					</tr>

					{% for book in shelf_book_list %}

						<tr>
							<td>

								{% if book.attributes['pin']|int == 0 %}

									<input type="checkbox" name="do_pin" value="{{ book.id }}">

								{% elif book.attributes['pin']|int == 1 %}

									<input type="hidden" name="pind_list" value="{{ book.id }}">

									<input type="checkbox" name="do_unpin" value="{{ book.id }}" checked>

								{% endif %}

							</td>
							<td><a href="{{ url_for('bookBP.details', user_username=book.creator_username, shelf_slug=book.shelf_slug, book_slug=book.actual_slug) }}">{{ book.name }}</a></td>
							<td>{{ book.time_created|pretty_date }}</td>
							<td>{{ book.last_modified|pretty_date }}</td>
							<td>{{ book.stats['jot_count'] }}</td>
							<td><input type="submit" value="edit"</td>
							<td><input type="submit" value="x"</td>
						</tr>

					{% endfor %}

				</table>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

				<input type="submit" value="Update Pins">

			</form>

		{% else %}

			<br><br>

			<i>No books here.</i>

		{% endif %}
		

	</div>

{% endblock %}