{% from 'mods/shelf/macros/_forms.html' import render_shelf_form %}

{% extends "base.html" %}

{% block bodyHTML %}

<div class="content-area-title-bar-wrap">

	<button type="button" class="btn btn-icon btn-default sidebar-toggle"><i class="fa fa-bars"></i></button>

	{% if up_level_url %}

		<a href="{{ up_level_url }}"><button type="button" class="btn btn-icon btn-default"><i class="fa fa-arrow-up"></i></button></a>

	{% endif %}

	Shelf Edit{# (<a href="{{ url_for('shelfBP.details', user_username=shelf_details.creator_username, shelf_slug=shelf_details.actual_slug) }}">{{ shelf_details.name }}</a>) #}

	<div class="pull-right">

		<a href="{{ url_for('shelfBP.delete', user_username=shelf_details.creator_username, shelf_slug=shelf_details.actual_slug) }}"><button type="button" class="btn btn-danger"><i class="fa fa-trash-o fa-lg top-minus-1"></i> Delete Shelf</button></a>

		<a href="{{ url_for('bookBP.new', user_username=session.get('user_username'), shelf=shelf_details.actual_slug) }}"><button type="button" class="btn btn-default">New Book</button></a>

	</div>

</div>

<div class="row content-area-content-wrap page-padding">

	{{ render_shelf_form(post_inputs, post_errors, 'edit') }}

	{# <div style="text-align: center;">

		{{ render_shelf_form(post_inputs, post_errors, 'rename') }}

		<div class="checkbox">
		  <label>
		    <input type="checkbox" value="">
		    Pin to sidebar
		  </label>
		</div>

		<br><br>

		<label class="checkbox-inline">
		    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
		    Public
	    </label>

	    <label class="checkbox-inline">
		    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
		    Private
	    </label>

	    <br><br>

	    <input type="submit" class="btn btn-primary" value="Save">

	</div> #}

</div>

{% endblock %}