{% extends "base.html" %}

{% block bodyHTML %}


<div class="content-area-title-bar-wrap">

	<button type="button" class="btn btn-icon btn-default sidebar-toggle"><i class="fa fa-bars"></i></button>

	{% if up_level_url %}

		<a href="{{ up_level_url }}"><button type="button" class="btn btn-icon btn-default"><i class="fa fa-arrow-up"></i></button></a>

	{% endif %}

	Shelf Listing (<a href="#">{{ user_username }}</a>)

	<div class="pull-right">

		<a href="{{ url_for('shelfBP.new', user_username=session.get('user_username')) }}"><button type="button" class="btn btn-default">New Shelf</button></a>

	</div>

</div>

<div class="content-area-body-wrap">

	{% if shelf_list %}

		<form method="POST">

			<table class="table table-striped table-hover table-responsive table-no-top-border vert-centered">
				<thead>
					<tr>
						<th class="pin-heading"><i class="fa fa-thumb-tack"></i></th>
						{# <th class="edit-heading">Edit</th> #}
						<th>Name <i class="fa fa-sort-asc"></i></th>
						<th class="text-centered">Books</th>
						<th>Created</th>
						<th>Modified</th>
					</tr>
				</thead>

				<tbody>

					{% for shelf_details in shelf_list %}

						<tr>
							<td class="vert-top">

								{% if shelf_details.attributes['pin']|int == 0 %}

									<input type="checkbox" name="do_pin" class="listing-pin-checkbox" value="{{ shelf_details.id }}">

								{% elif shelf_details.attributes['pin']|int == 1 %}

									<input type="hidden" name="pind_list" value="{{ shelf_details.id }}">

									<input type="checkbox" name="do_unpin" class="listing-pin-checkbox" value="{{ shelf_details.id }}" checked>

								{% endif %}

								<a href="{{ url_for('shelfBP.edit', user_username=shelf_details.creator_username, shelf_slug=shelf_details.actual_slug) }}" class="btn btn-default btn-icon listing-edit-button"><i class="fa fa-cog"></i></a>


							</td>
							{# <td><a href="{{ url_for('shelfBP.edit', user_username=shelf_details.creator_username, shelf_slug=shelf_details.actual_slug) }}" class="btn btn-default btn-icon"><i class="fa fa-cog"></i></a></td> #}
							<td><a href="{{ url_for('shelfBP.details', user_username=user_username, shelf_slug=shelf_details.actual_slug) }}">{{ shelf_details.name }}</a></td>
							<td class="text-centered">{{ shelf_details.stats.get('book_count') }}</td>
							<td>{{ shelf_details.time_created|pretty_date }}</td>
							<td>{{ shelf_details.last_modified|pretty_date }}</td>
						</tr>

					{% endfor %}

				</tbody>

			</table>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

			<button type="submit" class="btn btn-primary"><i class="fa fa-thumb-tack"></i> Save</button>

		</form>

	{% else %}

		<br><br>

		<i>No shelves here.</i>

	{% endif %}

	

</div>

{% endblock %}