{% macro render_shelf_form(post_inputs, post_errors, type) %} 
	
	<form class="form-horizontal" role="form" method="POST">

		<div class="form-group">

		    <label for="shelf_name" class="col-sm-2 control-label">Shelf Name:</label>

		    <div class="col-sm-10">

				<input type="text" class="form-control" name="shelf_name" {% if post_inputs.get('shelf_name') %}value="{{post_inputs['shelf_name']}}"{% endif %}>

				{% if post_errors.get('shelf_name') %}

					<span class="error">{{ post_errors['shelf_name'] }}</span>

				{% endif %}

		    </div>

		</div>

		<div class="form-group">

			<label for="pin_to_sidebar" class="col-sm-2 control-label">Pin to Sidebar:</label>

		    <div class="col-sm-10">

			    <div class="checkbox">

			        <label>

				        <input type="checkbox" name="pin_to_sidebar" {%- if post_inputs.get('attributes') and post_inputs.attributes.get('pin') == '1' %} checked {%- endif %}>

			        </label>

			    </div>

		    </div>

		</div>

		<div class="form-group">

			<label for="visibility" class="col-sm-2 control-label">Library Visibility:</label>

		    <div class="col-sm-10">

			    <label class="checkbox-inline">

					<input type="radio" name="visibility" value="public" {%- if post_inputs.get('attributes') and post_inputs.attributes.get('visibility') == 'public' %} checked {% elif post_inputs.get('attributes') == None %} checked {%- endif %}>

					Public

			    </label>

			    <label class="checkbox-inline">

				    <input type="radio" name="visibility" value="private" {%- if post_inputs.get('attributes') and post_inputs.attributes.get('visibility') == 'private' %} checked {%- endif %}>

					Private

			    </label>

			</div>

		</div>

		<div class="pull-right">

	    	{% if type == 'edit' %}

				{% set submit_button_value = 'Save' %}

			{% elif type == 'new' %}

				{% set submit_button_value = 'Create Shelf' %}

			{% endif %}

		    <input type="submit" class="btn btn-primary" value="{{ submit_button_value }}">

		</div>

		<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

	</form>

{% endmacro %}



{# {% macro render_shelf_form(post_inputs, post_errors, type) %} 
	
	<form class="form-horizontal" role="form" method="POST">

		<div class="row">

			<div class="four columns">Shelf Name:</div>
			<div class="eight columns form-row">

				<input type="text" class="form-control" name="shelf_name" {% if post_inputs.get('shelf_name') %}value="{{post_inputs['shelf_name']}}"{% endif %}>

				{% if post_errors.get('shelf_name') %}

					<span class="error">{{ post_errors['shelf_name'] }}</span>

				{% endif %}

			</div>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

			{% if type == 'rename' %}

				{% set submit_button_value = 'Rename Shelf' %}

			{% elif type == 'new' %}

				{% set submit_button_value = 'Create Shelf' %}

			{% endif %}

			<input type="submit" value="{{ submit_button_value }}">

		</div>

	</form>

{% endmacro %} #}