{% extends "base.html" %}

{% block bodyHTML %}

<div class="content-area-title-bar-wrap">

	<button type="button" class="btn btn-icon btn-default sidebar-toggle"><i class="fa fa-bars"></i></button>

	Welcome

	{# <div class="pull-right">

		<a href="{{ url_for('shelfBP.delete', user_username=shelf_details.creator_username, shelf_slug=shelf_details.actual_slug) }}"><button type="button" class="btn btn-danger"><i class="fa fa-trash-o fa-lg top-minus-1"></i> Delete Shelf</button></a>

	</div> #}

</div>

	<h3>Welcome</h3><br><br>

	This area will explain Keepshelf and entice visitors to sign up.<br><br>

	<div style="text-align: center;"><h4>Activity</h4></div>
	<hr style="width: 75%; margin: 0 auto;"><br>
	<div style="text-align: center;"><i>Global</i> &bull; <a href="#">Following</a> &bull; <a href="#">Self</a></div><br>

	{% if global_activity_stream %}

		<table class="activity-listing-table">

			{% for entry in global_activity_stream %}

				<tr>
					<td>
						{{ entry[0]|safe }}
					</td>
					<td>
						{{ entry[1]|pretty_date }}
					</td>
				</tr>

			{% endfor %}

		</table>

	{% else %}

		<br><br>

		<i>no activity</i>

	{% endif %}

{% endblock %}