{% from 'macros/_modules.html' import render_login_form_module %}

{% extends "base.html" %}

{% block bodyHTML %}

{% if session.get('user_username') %}

	<div>

		<div class="module-container white borders margin-bottom">

			module test A

		</div>

		<div class="borders corner-rad-all margin-bottom">

			<div class="module-header corner-rad-top">

				module title

			</div>

			<div class="module-container white">

				module test B<br><br>

				multi lines of content

			</div>

		</div>

	</div>

{% else %}

	<div class="module-wrap grey">

	

		<div class="module-body">

			{% if not next %}
				
				{% set next = url_for('frontpageBP.index') %}

			{% endif %}

			{% if not login_inputs %}
				
				{% set login_inputs = {} %}

			{% endif %}

			{% if not login_errors %}
				
				{% set login_errors = {} %}

			{% endif %}

			{{ render_login_form_module(next, login_inputs, login_errors) }}

			{% if request.endpoint != 'userBP.signup' %}

		</div>

	</div>

	<div class="module-wrap grey">

		<a href="{{ url_for('userBP.signup') }}">Create Account</a>

	</div>

	{% endif %}

{% endif %}

{% endblock %}