{% macro render_flash_message() %}
    {%- block flash_message %}
        {%- with messages = get_flashed_messages(with_categories=True) %}
            {%- if messages %}

                {%- for category, msg in messages %}

                    {% if category == 'success' %}

                        {% set alert_class = 'alert-success' %}

                    {% elif category == 'notice' %}

                        {% set alert_class = 'alert-warning' %}

                    {% elif category == 'error' %}

                        {% set alert_class = 'alert-danger' %}

                    {% else %}

                        {% set alert_class = 'alert-info' %}

                    {% endif %}

                    <div class="alert {{ alert_class }} alert-dismissable">

                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

                      {# <strong>{{ category|capitalize }}</strong> #}<span class="alert-message">{{ msg|safe }}</span>

                    </div>

                {# <div class="flash-wrap {{ category }}">

	                <span class="title">{{ category|capitalize }}:</span> {{ msg|safe }}

	            </div> #}

                {%- endfor -%}

            {% endif -%}
        {% endwith -%}
    {% endblock -%}
{% endmacro %}