
{% macro render_login_form_module(next, login_inputs, login_errors) %}

<div>

    <form id="login" method="POST" action="{{ url_for('userBP.login') }}">

        <div class="form-input-wrap">

            <input type="text" name="username" {%- if login_inputs.get('username') %} value="{{ login_inputs.get('username') }}"{% endif %} placeholder="Username" class="form-control">

        </div>

        <div class="form-input-wrap" style="margin-top: 10px;">

            <input type="password" name="password" placeholder="Password" class="form-control">
            {%- if login_errors.get('password') %}<br><span class="error">Error: {{ login_errors.get('password') }}</span>{% endif %}

        </div>

        <input type="hidden" name="next" value="{{ next }}">
        <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">

        <div style="text-align:right; margin-top: 10px;">

            <input type="submit" value="Login" class="btn btn-primary" style="width: 35%;">

        </div>

    </form>

</div>

{% endmacro %}