
{% macro render_subHeader_book_details(session, up_level_url, book_details, shelf_listing, book_listing) %}

{# {% from 'macros/subHeader/_subHeaderBlocks.html' import render_subHeaderBlock_button_up_level %} #}
{% from 'macros/subHeader/_subHeaderBlocks.html' import render_subHeaderBlock_button_users_shelf_list %}
{% from 'macros/subHeader/_subHeaderBlocks.html' import render_subHeaderBlock_button_users_book_list %}
	
	<div class="subHeader-container">

		<div class="subHeader-wrap">

			<div class="page-padding">

				<div class="subHeader-area-container up-level-button">

					<ui class="nav sub-header">

						

					</ui>

				</div>

				{# <div class="subHeader-area-container user">

					<ui class="nav sub-header">

						{{ render_subHeaderBlock_button_user(session) }}

					</ui>

				</div> #}

				<div class="subHeader-area-container shelf-and-book-dropdown-buttons">

					<ui class="nav sub-header">

						{# {{ render_subHeaderBlock_button_up_level(up_level_url) }} #}

						{{ render_subHeaderBlock_button_users_shelf_list(session, book_details, shelf_listing) }}

						{{ render_subHeaderBlock_button_users_book_list(session, book_details, book_listing) }}

					</ui>

				</div>

			</div>

		</div>

	</div>

{% endmacro %}

