{% macro render_book_form(request, post_inputs, post_errors, type=None, users_shelf_list=None) %} 
	
<form method="POST">

	{% if type != 'change_shelf' %}

		<div class="row">

			<div class="four columns">Book Name:</div>
			<div class="eight columns form-row">

				<input type="text" name="book_name" {% if post_inputs.get('book_name') %}value="{{post_inputs['book_name']}}"{% endif %}>

				{% if post_errors.get('book_name') %}

					<span class="error">{{ post_errors['book_name'] }}</span>

				{% endif %}

			</div>

		</div>

	{% endif %}

	{% if type == 'new' or type == 'change_shelf' %}

		<div class="row clearfix">

			<div style="width: 70%; margin: 20px auto; text-align:left;">

				{% if type == 'change_shelf' %}

					<h4>Move to shelf:</h4>

				{% else %}

					<h4>In shelf:</h4>

				{% endif %}

				<input type="radio" name="shelf" value="new_shelf" {% if post_inputs.get('shelf') == 'new_shelf' or post_inputs.get('shelf') == None and request.args.get('shelf') == None %} checked{% endif %}> <input type="text" name="new_shelf_name" placeholder="New shelf" style="width: auto;" {% if post_inputs.get('new_shelf_name') != None %} value="{{ post_inputs['new_shelf_name'] }}"{% endif %}><br>

				{% if post_errors.get('new_shelf_name') %}

					<span class="error">{{ post_errors['new_shelf_name'] }}</span><br>

				{% endif %}

				{% for shelf in users_shelf_list %}

					<input type="radio" name="shelf" value="{{ shelf.actual_slug }}" {% if post_inputs.get('shelf') == shelf.actual_slug %} checked {% elif request.args.get('shelf') == shelf.actual_slug and post_inputs.get('shelf') == None %} checked {% endif %}> {{ shelf.name }}<br>

				{% endfor %}

				{# <input type="radio" name="shelf" value="unsorted" {% if post_inputs.get('shelf') == 'unsorted' or post_inputs.get('shelf') == None and request.args.get('shelf') == None %} checked{% endif %}> <i>unsorted</i> #}

			</div>

		</div>

	{% endif %}

	{% if type == 'rename' %}

		{% set submit_button_value = 'Rename Shelf' %}

	{% elif type == 'new' %}

		{% set submit_button_value = 'Create Shelf' %}

	{% elif type == 'change_shelf' %}

		{% set submit_button_value = 'Change Shelf' %}

	{% endif %}

	<input type="submit" value="{{ submit_button_value }}">

	<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

</form>

{% endmacro %}

