{% macro render_book_links_to_actions(request, book_details) %} 
	
	{% if request.endpoint != 'bookBP.details' %}

		<a href="{{ url_for('bookBP.details', user_username=book_details.creator_username, shelf_slug=book_details.shelf_slug, book_slug=book_details.actual_slug) }}">details</a> | 

	{% endif %}

	{% if request.endpoint != 'bookBP.rename' %}

		<a href="{{ url_for('bookBP.rename', user_username=book_details.creator_username, shelf_slug=book_details.shelf_slug, book_slug=book_details.actual_slug) }}">rename</a> | 

	{% endif %}

	{% if request.endpoint != 'bookBP.change_shelf' %}

		<a href="{{ url_for('bookBP.change_shelf', user_username=book_details.creator_username, shelf_slug=book_details.shelf_slug, book_slug=book_details.actual_slug) }}">change shelf</a>

	{% endif %}

	{% if request.endpoint != 'bookBP.delete' %}

		| <a href="{{ url_for('bookBP.delete', user_username=book_details.creator_username, shelf_slug=book_details.shelf_slug, book_slug=book_details.actual_slug) }}">delete</a>

	{% endif %}

{% endmacro %}



{% macro render_prev_and_next_book_in_shelf_buttons(book_details, prev_book_in_shelf_slug, next_book_in_shelf_slug) %}

	{% if prev_book_in_shelf_slug != None %}

		<div class="cell">

			<a href="{{ url_for('bookBP.details', user_username=book_details.creator_username, shelf_slug=book_details.shelf_slug, book_slug=prev_book_in_shelf_slug) }}"><button type="button" class="btn btn-icon btn-default title-action-buttons top-left"><i class="fa fa-caret-left"></i></button></a>

		</div>

	{% endif %}

	{% if next_book_in_shelf_slug != None %}

		<div class="cell">

			<a href="{{ url_for('bookBP.details', user_username=book_details.creator_username, shelf_slug=book_details.shelf_slug, book_slug=next_book_in_shelf_slug) }}"><button type="button" class="btn btn-icon btn-default title-action-buttons top-left"><i class="fa fa-caret-right"></i></button></a>

		</div>

	{% endif %}

{% endmacro %}

