
{% macro render_login_form(next, login_inputs, login_errors) %}

<div style="width: 80%; margin: 0 auto;">

    <form id="login" method="POST" action="{{ url_for('userBP.login') }}">

        <div class="form-input-wrap">

            <label>Username:</label>
            <input type="text" name="username" {%- if login_inputs.get('username') %} value="{{ login_inputs.get('username') }}"{% endif %}>

        </div>

        <div class="form-input-wrap" style="margin-top: 10px;">

            <label>Password:</label>
            <input type="password" name="password"><br>
            {%- if login_errors.get('password') %}<span class="error">Error: {{ login_errors.get('password') }}</span>{% endif %}

        </div>

        <input type="hidden" name="next" value="{{ next }}">
        <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">

        <div style="text-align:center; margin-top: 10px;">

            <input type="submit" value="login">

        </div>

    </form>

</div>

{% endmacro %}