
<div class="module-wrap header">

    <a class="navbar-brand sprite logo" href="{{ url_for('frontpageBP.index') }}"></a>

    {% if session.get('user_username') %}

        <form method="POST" action="{{ url_for('userBP.logout') }}" style="display: inline; margin-left: 12px;">

            <input type="hidden" name="next" value="{{ next }}">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">                             

            <a class="navlink form-submit-button" href="/logout">Logout</a>

        </form>

         | <a class="navlink" href="{{ url_for('shelfBP.listing', user_username=session['user_username']) }}">Shelves</a> | <a class="navlink" href="{{ url_for('bookBP.listing', user_username=session['user_username']) }}">Books</a>

    {% endif %}


</div>

