{% from 'includes/_sidebar.html' import render_login_form %}

{% if session.get('user_username') %}

	<br>

	- Watch Feed<br>

	- Library<br><br>

	- <a href="{{ url_for('shelfBP.listing', user_username=session['user_username']) }}">Shelves</a> | <a href="{{ url_for('shelfBP.new', user_username=session.get('user_username')) }}">New</a><br>

		<div style="margin-left: 10px; margin-top: 6px;">

			{% if sidebar_shelf_listing %}

				{% for shelf in sidebar_shelf_listing %}

					- <a href="{{ url_for('shelfBP.details', user_username=session['user_username'], shelf_slug=shelf.actual_slug) }}">{{ shelf.name }}</a><br>

				{% endfor %}

			{% endif %}

			{# - <a href="{{ url_for('shelfBP.details', user_username=session['user_username'], shelf_slug='unsorted') }}"><span style="font-style: italic">Unsorted Books</span></a> #}

		</div>


	<br>

	- <a href="{{ url_for('bookBP.listing', user_username=session['user_username']) }}">Books</a> | <a href="{{ url_for('bookBP.new', user_username=session.get('user_username')) }}">New</a><br>

	<div style="margin-left: 10px; margin-top: 6px;">

		{% if sidebar_book_listing %}

			{% for book in sidebar_book_listing %}

				- <a href="{{ url_for('bookBP.details', user_username=session['user_username'], shelf_slug=book.shelf_slug, book_slug=book.actual_slug) }}">{{ book.name }}</a> <span style="font-size: 13px; font-style: italic; color: #bbb;">| <a href="{{ url_for('shelfBP.details', user_username=book.creator_username, shelf_slug=book.shelf_slug) }}" style="color: #bbb;">{{ book.shelf_name }}</a></span><br>

			{% endfor %}

			{# - <a href="{{ url_for('bookBP.details', user_username=session['user_username'], shelf_slug='unsorted', book_slug='unsorted') }}"><span style="font-style: italic">Unsorted Jots</span></a> #}

		{% endif %}

	</div>

{% else %} {# render the login / signup area #}

	{% if not next %}
			
		{% set next = url_for('frontpageBP.index') %}

	{% endif %}

	{% if not login_inputs %}
		
		{% set login_inputs = {} %}

	{% endif %}

	{% if not login_errors %}
		
		{% set login_errors = {} %}

	{% endif %}

	{{ render_login_form(next, login_inputs, login_errors) }}

	{% if request.endpoint != 'userBP.signup' %}

		<br><br>

		<hr style="width: 75%; margin: 0 auto;"><br>

		<a href="{{ url_for('userBP.signup') }}">Create Account</a>

	{% endif %}

{% endif %}