{% macro render_subHeaderBlock_button_up_level(up_level_url) %}

	<li>

		<a role="button" href="{{ up_level_url }}" class="up-level-button"><i class="fa fa-arrow-up"></i></a>

	</li>

{% endmacro %}

{% macro render_subHeaderBlock_button_users_shelf_list(session, book_details, shelf_listing) %}

	<li class="dropdown">

	  <a id="shelf-select-dropdown" role="button" data-toggle="dropdown" data-target="#" href="/" class="dropdown-button"><span class="subHeader-dropdown-button-type-title">Shelf:</span> <span class="subHeader-dropdown-button-title">{{ book_details.shelf_name }}</span>{# super duper long name test just to see how it lookssuper duper long name test just to see how it looks #} <span class="caret"></span></a>

	  {% if shelf_listing %}

	  <ul class="dropdown-menu" role="menu" aria-labelledby="shelf-select-dropdown">

	  	{% if book_details.creator_username == session.get('user_username') %}

	  	<li><a class="action-header" href="{{ url_for('shelfBP.edit', user_username=book_details.creator_username, shelf_slug=book_details.shelf_slug) }}"><span class="subHeader-dropdown-menuitem-action-title">Edit Shelf</span></a></li>

	  	<li><a class="action-header" href="{{ url_for('shelfBP.new', user_username=session.get('user_username')) }}"><span class="subHeader-dropdown-menuitem-action-title">New Shelf</span></a></li>

	  	{% endif %}

	  	<li><a class="action-header divider-line" role="menuitem" href="{{ url_for('shelfBP.listing', user_username=book_details.creator_username) }}"><span class="subHeader-dropdown-menuitem-action-title">Shelf Listing</span></a></li>

	  	{% for shelf_details in shelf_listing %}

	  	<li><a role="menuitem" href="{{ url_for('shelfBP.details', user_username=shelf_details.creator_username, shelf_slug=shelf_details.actual_slug) }}"><span class="subHeader-dropdown-menuitem-book-title">{{ shelf_details.name }}</span><span class="subHeader-dropdown-menuitem-sub-text">Books: {{shelf_details.stats['book_count'] }}</span></a></li>

	  	{% endfor %}

	  </ul>

	  {% endif %}

	</li>

{% endmacro %}


{% macro render_subHeaderBlock_button_users_book_list(session, book_details, book_listing) %}

	<li class="dropdown">

	  <a id="book-select-dropdown" role="button" data-toggle="dropdown" data-target="#" href="/" class="dropdown-button"><span class="subHeader-dropdown-button-type-title">Book:</span> {{ book_details.name }}{# super duper long name test just to see how it lookssuper duper long name test just to see how it looks #} <span class="caret"></span></a>

	  {% if book_listing %}

	  <ul class="dropdown-menu" role="menu" aria-labelledby="book-select-dropdown">

	    {% if book_details.creator_username == session.get('user_username') %}

	  	<li><a class="action-header" href="{{ url_for('bookBP.rename', user_username=book_details.creator_username, shelf_slug=book_details.shelf_slug, book_slug=book_details.actual_slug) }}"><span class="subHeader-dropdown-menuitem-action-title">Edit Book</span></a></li>

	  	<li><a class="action-header" href="{{ url_for('bookBP.new', user_username=session.get('user_username'), shelf=book_details.shelf_slug) }}"><span class="subHeader-dropdown-menuitem-action-title">New Book</span></a></li>

	  	{% endif %}

	  	<li><a class="action-header divider-line" role="menuitem" href="{{ url_for('bookBP.listing', user_username=book_details.creator_username) }}"><span class="subHeader-dropdown-menuitem-action-title">Book Listing</span></a></li>

	  	{% for listing_book_details in book_listing %}

	  	<li><a role="menuitem" href="{{ url_for('bookBP.details', user_username=listing_book_details.creator_username, shelf_slug=listing_book_details.shelf_slug, book_slug=listing_book_details.actual_slug) }}"><span class="subHeader-dropdown-menuitem-book-title">{{ listing_book_details.name }}</span><span class="subHeader-dropdown-menuitem-sub-text">Jots: {{ listing_book_details.stats['jot_count'] }}</span></a></li>

	  	{% endfor %}

	  </ul>

	  {% endif %}

	</li>

{% endmacro %}
